body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  color: #000;
  margin: 20px;
}

h1 {
  text-align: center;
  color: blue;
}

h2 {
  color: green;
}

form {
  background-color: white;
  padding: 10px;
  border: 1px solid black;
}

input, textarea {
  width: 95%;
}

hr {
  margin: 20px 0;
}
